@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300&display=swap');
html
{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
*
{
  margin: 0;
}
html,body
{
    height: 100%;
}
body
{
  background: white;
  box-sizing: border-box;
}
 .main
{
  /* background: linear-gradient(#95efbc, #b4b3ef); */
  background-color: #5ff45c;
  /* #64dea4 */
  /* #57d555; */
  width: 63%;
  height: 30rem;
  position: absolute;
  top: 20%;
  left: 19%;
  box-shadow: 12px 10px 7px rgba(9, 8, 8,0.2);
  /* box-shadow: 50px; */
  border: 1px solid linear-gradient(#4bb8da, #ae13a4);
  border-radius: 20px;
 }  
#start-game
{
  position: absolute;
  font-size: 2.2rem;
  top: 45%;
  left: 41%;
  border: 1px solid #fff ;
  background: #83f189;
  border-radius: 1rem;
  padding: 0em 1em;
  cursor: pointer;
}
#heading
{
  color: black;
  font-size: 6rem;
  position: absolute;
  left: 40%;
  text-shadow: 5px;
}
#question
{
  font-size: 2vw;
  position: absolute;
  top: 25%;
  left: 20%;
}
#myQuestion
{
  font-size: 2vw;
  width: 30%;
  border: 2px solid #ebebeb;
  position: absolute;
  left: 35%;
  top: 25%;
}
#answers
{
  display: flex;
  position: absolute;
  top: 55%;
  left: 20%;
  font-size: 2vw;
  justify-content: space-between;
  /* background-color: aquamarine; */
  width: 60%;
  align-items: center;
}
.op
{
  /* color: bisque; */
  text-align: center;
  font-weight: 250;
  width: 16%;
  border: 1px solid black;
  border-radius: 9px;
  /* background-color: beige; */
  background-color: #fff;
  /* display: none; */
}
.op:hover
{
  border: 1px solid #f5c8f2;
}
.lifelines
{
  /* display: flex; */
  position: absolute;
  top: 65%;
  left: 30%;
  width: 40%;
  background-color: #fff;

  /* background-color: aqua; */
  /* background-color: rgb(143, 115, 218); */
  justify-content: space-between;
  text-align: center;
}
.life-head
{
  font-size: medium;
  width: 8rem;
  background-color: #fff;
}
.lifes 
{
  line-height: 2em;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
#restart
{
  position: absolute;
  top: 77%;
  left: 20%;
  animation: 0.5s infinite alternate ease-in ;
}
#restart:hover
{
  font-size: 110%;
  /* border: 1px solid #ebebeb; */
  /* padding: 0em 0.5em; */
  /* border-radius: 8%; */
  /* background-color: #ebebeb; */
}
#exit
{
  position: absolute;
  top: 77%;
  left: 25%;

}
#exit:hover
{
  font-size: 110%;
  /* border: 1px solid #ebebeb;
  padding: 0em 0.7em;
  border-radius: 8%;
  background-color: #ebebeb; */
}
#skip:hover
{
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: #5ff45c;
  border-radius: 0.2rem;
  padding: 0rem 0.2rem;
}
#doubleDip:hover
{
  border: 1px solid #ef8ae8;
  background-color: #f5c8f2;
  border-radius: 0.2rem;
  padding: 0rem 0.2rem;
}
#hint:hover
{
  border: 1px solid #ef8ae8;
  background-color: #f5c8f2;
  border-radius: 0.2rem;
  padding: 0rem 0.2rem;
}
.greet
{
  font-size: 7rem;
  position: absolute;
  top: 4%;
  left: 33%;
  right:30%
}
.start-btn
{

  font-size: 2.5rem;
  position: absolute;
  top: 25%;
  left:35%;
  right: 65%;
  background-color: #f45b69;
  
}
.end-game
{
  font-size: 2.5rem;
  position: absolute;
  top: 25%;
  left: 55%;
  right: 45%;
  
}
.img
{
  width: 100%;
  height: 100%;
}